body{
    font-family: helvetica;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div{
    border-radius: 10px;
    margin: 5vw;
    padding: 5vw;
    width: 70vw;
}
a{
    align-self: flex-start;
    text-decoration: none;
    color: dodgerblue;
    margin: 1vw;
}
