.link {
    fill: #444;
    stroke: rgba(0, 0, 0, 0.5);
}
.good-text {
    color: #444;
    text-shadow:
    0 0 1px rgba(0, 0, 0, 0.5),
    0 0 2px rgba(0, 0, 0, 0.5);
}
.fancybox {
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25)
}
#content:hover {
    background-color: rgba(30, 30, 30, 0.2);
}

.square:hover {
    background-color: rgba(30, 30, 30, 0.2);
}

.rect:hover {
    background-color: rgba(30, 30, 30, 0.2);
}