.meme-generator{
    margin: 20px auto;
    width: 30vw;
    font-family: sans-serif;
}
.meme-generator label{
    display: block;
    font-weight: bold;
    margin-bottom: 1vh;
}
.meme-generator input{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2vh;
}
.meme-generator canvas{
    width: 25vw;
    padding: 0;
    margin: auto;
    display: block;
    margin-bottom: 2vh;
}