
.container{
    overflow: hidden;
    border: 5px solid #000000;
    border-radius: 40px;
    box-shadow: 10px 25px 30px rgba(0,0,0,0.2);
    background-color: black;
  }
  
  .wrapper{
    width: 100%;
    display: flex;
    /* animation: slide 16s infinite; */
  }
  
  .wrapper > img{
    width: 100%;
  }
  .body{
  display: flex;
  }
  /* @keyframes slide{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0);
    }
    40%{
        transform: translateX(-100%);
    }
    60%{
        transform: translateX(-100%);
    }
    80%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-200%);
    }
  } */
  
  #profile-box {
    width: 25vh;
    height: 35vh;
    background-color: #999;
    font-size:1.5vh;
    border: 5px solid #000000;
    border-radius: 40px;
    box-shadow: 10px 25px 30px rgba(0,0,0,0.2);
  }
  #profile-content{
    margin: 10%;
  }
  @media(orientation: portrait){
   #profile-box{
    margin-top: 20%;
   }
  }