body {
    margin: 0;
    height: 100vh;
    /* background: linear-gradient(30deg, #334, #766); */
    background: linear-gradient(45deg, #335, #866);
    background-size: 150% 150%;
    animation: gradient 15s ease infinite;
}

#mainbd {
    display: flex;
    width: 80vw;
    height: 70vh;
    padding: 3vh;
    padding-right: 0;
    /* padding-bottom: 3vh; */
    border-radius: 47px;
}

#content {
    height: 100%;
    width: 50%;
    border-radius: 20px;
    transition: 0.5s;
    flex-direction: column;
    /* background-color: lime; */
}

#listbd {
    height: 100%;
    width: 50%;
    border-radius: 42px;
    flex-wrap: wrap;
    margin: -3vh;
    margin-left: 0;
    /* background-color: lime; */
}


#ppimg {
    width: 100%;
    border-radius: 20px;
}

.inlistbd {
    margin: 3vh;
}

.square {
    height: 40%;
    width: 40%;
    border-radius: 20px;
    transition: 0.5s;
}

.rect {
    height: 45.5%;
    width: 90%;
    border-radius: 20px;
    transition: 0.5s;
}

.link {
    height: 6vw;
    fill: rgba(255, 255, 255, 0.5);
    transition: height 0.5s ease-in-out;
    padding: 1.5vh;
    animation: pulse-shadow 1.5s infinite alternate;
    filter: drop-shadow(0 0 5vh rgba(255, 255, 255, 0.6));
    /* background-color: lime; */
}

.good-text {
    font-family: Arial;
    font-weight: bold;
    /* font-size: 5vh; */
    font-size: 3vw;
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 5vh rgba(255, 255, 255, 0.6);
    margin: 3vh;
    animation: pulse 1.5s infinite alternate;
}

.fancybox {
    box-shadow: 0 0 5vh rgba(0, 0, 0, 1);
    outline: 3px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.3);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#invisibl {
    width: 75%;
    /* background-color: skyblue; */
    height: 100%;
    flex-wrap: wrap;

}

#content:hover {
    background-color: rgba(255, 255, 255, 0.01);
}

.square:hover {
    background-color: rgba(255, 255, 255, 0.01);
}

.rect:hover {
    background-color: rgba(255, 255, 255, 0.01);
}

#content:hover .good-text {
    font-size: 4vw;
}

.good-text:hover {
    /* font-size: 6vh; */
    font-size: 4vw;
}

.link:nth-child(4) {
    order: -1;
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 5vh rgba(255, 255, 255, 0.6);
    }

    100% {
        text-shadow: 0 0 5vh rgba(255, 255, 255, 0.75);
    }
}

@keyframes pulse-shadow {
    0% {
        filter: drop-shadow(0 0 5vh rgba(255, 255, 255, 0.6));
    }

    100% {
        filter: drop-shadow(0 0 5vh rgba(255, 255, 255, 0.75));
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}